{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Watch Collection</title>
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}" />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <h1>Personal Watch Collection</h1>

        <nav class="nav">
          <a href="{% url 'catalog:home' %}">Home</a>
          <a href="{% url 'catalog:watch_list' %}">Watches</a>
          <a href="{% url 'catalog:watch_create' %}">Add Watch</a>
          <a href="/admin/">Admin</a>
        </nav>
      </div>
    </header>

    <main class="container page-content">
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
